
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h2>Department List</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @{List<department> departments = (List<department>)ViewData["departments"];}

        @foreach (var department in departments)
        {
            <tr>
                <th>@department.department_name</th>
                <td>@department.contact_name</td>
                <td>@department.phone_number</td>
            </tr>
        }
    </tbody>
</table>

