/* 
    Written by: Chua Khiong Yang

    The CSS is only used for the login page.
*/

body {
    overflow: hidden;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

}

.flex-container-login {
    display: flex;
    flex-direction: column;
    background-color: rgba(234, 241, 253, 0.15);
}