
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h2>Collection List</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">DisbursementListID</th>
        </tr>
    </thead>
    <tbody>
        @{List<collection_detail> collection_detail = (List<collection_detail>)ViewData["collection_detail"];}
    
      
        @foreach (var cd in collection_detail)
    {
        <tr>
            <th>@cd.collection_id</th>
            <td>@cd.collection_status</td>
            <td>@cd.collection_date</td>
            <td>@cd.disbursement_list_id</td>
            <td><input type="button" value="Details" /></td>
        </tr>
}
    </tbody>
</table>

